/* 
Fixes:

height: 100vh with overflow: hidden causes footer to disappear on mobile in landscape mode, since address bar is considered part of viewport and can't scroll past it



*/

body {
    font-family: 'Exo', sans-serif;
    background: linear-gradient(#000000, #061588, #0dacfc, #caedfc);
    width: 100%;
    height: 110vh;
    max-height: 100vh;
    background-size: 100% 300%;  /* firefox requires both width & height declarations */
    background-position: bottom;
    animation: night 8000ms 2000ms ease-in forwards;
}

a {
    color: #caedfc;
    transition: color 200ms ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #0dacfc;
}

.name {
    color: #000;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    width: 100%;
    top: 1.5rem;
    left: 0;
    text-align: center;
    animation: lighten 2000ms 6000ms ease-in forwards;
}

.name h4 {
    font-weight: 200;
    text-transform: lowercase;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    padding: .5rem;
    background: #000;
    color: #caedfc;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 325;
}

.social svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: .2rem;
}

.social a path {
    fill: #caedfc;
    transition: fill 200ms ease-in-out;
}

.social a:hover path,
.social a:hover path {
    fill: #0dacfc;
}

#email, 
#copyright {
    z-index: 325;
}

#copyright {
    margin-top: 1.5rem;
    font-size: .85rem;
    font-weight: 200;
}

#sun {
    position: fixed;
    top: 100%;
    left: 100%;
}

#moon {
    height: 5rem;
    position: fixed;
    top: 100%;
    right: 5%;
    z-index: 100;
    opacity: 0;
    animation: moonrise 6000ms 6000ms forwards;
}

#stars {
    height: 5rem;
    position: fixed;
    top: 38%;
    left: 5%;
    opacity: 0;
    animation: appear 6000ms 6000ms forwards;
}

#skyline {
    width: 100%;
    position: fixed;
    bottom: 7.75rem;
    z-index: 200;
    margin: 0;
}

#mountain {
    width: 95%;
    position: fixed;
    bottom: 12rem;
    left: 2.5%;
    z-index: 190;
}

@media (min-width: 526px)
    and (orientation: landscape) {

    .name {
        top: 1rem;
    }

    .name h1 {
        font-size: 2rem;
    }

    .name h4 {
        font-size: 1.25rem;
    }

    footer {
        height: 2.5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #email {
        
    }

    #copyright {
        margin-top: 0;
    }

    #stars {
        top: 10%;
    }

    #skyline {
        width: 60%;
        right: -2%;
        bottom: 2rem;
    }

    #mountain {
        width: 60%;
        left: -5rem;
        bottom: 0;
    }

}

@media (min-width: 765px)
    and (min-height: 400px) {
    
    .name {
        top: 5rem;
        right: 25%;
    }

    .name h1 {
        font-size: 4rem;
    }

    .name h4 {
        font-size: 2.4rem;
    }

    footer {
        height: 5rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #copyright {
        margin-top: 0;
    }

    #moon {
        height: 9rem;
        top: 5%;
    }

    #stars {
        height: 9rem;
    }

}

@media (min-width: 765px)
    and (orientation: portrait) {

    #sun {
        top: 100%;
        left: 100%;
    }

    #skyline {
        bottom: 4rem;
    }

    #mountain {
        bottom: 12rem;
    }

}

@media (min-width: 765px)
    and (orientation: landscape) {

    #sun {
        height: 40rem;
        top: 45%;
        left: 30%;
        animation: sunset 8000ms 3000ms ease-in forwards;
    }

}

@media (min-width: 765px)
    and (min-height: 400px)
    and (orientation: landscape) {

        footer {
            padding-left: 5rem;
            padding-right: 5rem;
        }

    }

@media (min-width: 1025px) {

    .name {
        top: 10%;
    }

}

@media (min-width: 1370px) {

    body {
        overflow: hidden;  /* firefox requires this, or it will scroll to show full background, offscreen animations, etc. */
    }
    
    footer {
        background: transparent;
    }

    .social {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 3rem;
        right: 5rem;
        opacity: 0;
        animation: appear 3000ms 8000ms ease-in forwards;
    }
    
    .social svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .5rem;
    }

    #email {
        position: fixed;
        top: 5.5rem;
        right: 5rem;
        opacity: 0;
        animation: appear 3000ms 8000ms ease-in forwards;
    }

    #copyright {
        position: fixed;
        bottom: 3rem;
        left: 5rem;
        opacity: 0;
        animation: appear 3000ms 8000ms ease-in forwards;
    }

    #skyline {
        bottom: -2%;
    }

}

@keyframes night {
    0% {
        background-position: bottom;
        transform: rotateY(0.01deg);  /* smooths animations in Firefox */
    }
    100% {
        background-position: top;
        transform: rotateY(0.01deg);
    }
}

@keyframes lighten {
    0% {
        color: #000;
        transform: rotateY(0.01deg);
    }
    100% {
        color: #caedfc;
        transform: rotateY(0.01deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: rotateY(0.01deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0.01deg);
    }
}

@keyframes sunset {
    0% {
        top: 45%;
        left: 30%;
        opacity: 1;
        transform: rotateY(0.01deg);
    }
    100%{
        top: 100%;
        left: 70%;
        opacity: 0;
        transform: rotateY(0.01deg);
    }
}

@keyframes moonrise {
    0% {
        top: 90%;
        right: 15%;
        opacity: 0;
        transform: rotateY(0.01deg);
    }
    100% {
        top: 25%;
        right: 15%;
        opacity: 1;
        transform: rotateY(0.01deg);
    }
}