body {
    font-family: 'Exo', sans-serif;
    background: linear-gradient(#000000, #061588, #0dacfc, #caedfc);
    width: 100%;
    height: 100vh;
    background-size: 300%;
    background-repeat: repeat;
    background-position: bottom;
    animation: night 8000ms 2000ms ease-in forwards;
}

.name {
    color: #000;
    /* position: fixed;
    top: 0%; */
    margin: 2rem auto;
    animation: lighten 6000ms 2000ms ease-in forwards;
    text-align: center;
}

.name h4 {
    font-weight: 200;
    text-transform: lowercase;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    background: #000;
    z-index: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 325;
}

.social img {
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem;
}

#copyright {
    color: #000;
    align-self: center;
    animation: lighten 3000ms 8000ms ease-in forwards;
    z-index: 325;
}

footer {
    
}

#sun {
    position: fixed;
    top: 100%;
    left: 100%;
}

#moon {
    height: 5rem;
    position: fixed;
    top: 100%;
    right: 5%;
    z-index: 100;
    opacity: 0;
    animation: moonrise 6000ms 3000ms forwards;
}

#stars {
    height: 5rem;
    position: fixed;
    top: 38%;
    left: 5%;
    opacity: 0;
    animation: appear 6000ms 6000ms forwards;
}

#skyline {
    width: 100%;
    position: fixed;
    bottom: 3.75rem;
    z-index: 200;
    margin: 0;
}

#mountain {
    width: 95%;
    position: fixed;
    bottom: 8rem;
    left: 2.5%;
    z-index: 190;
}

@media (min-width: 526px) {

    .name {
        right: 20%;
    }

    #stars {
        top: 10%;
    }

    #skyline {
        width: 60%;
        right: -2%;
        bottom: -2%;
    }

    #mountain {
        width: 60%;
        left: 0;
        bottom: 0;
    }

    @keyframes moonrise {
        0% {
            top: 100%;
            right: 5%;
            opacity: 0;
        }
        100% {
            top: 10%;
            right: 5%;
            opacity: 1;
        } /* keyframes in media query not working... */
    }

}

@media (min-width: 1025px) {
    .name {
        margin-top: 5rem;
        right: 25%;
    }

    .name h1 {
        font-size: 4rem;
    }

    .name h4 {
        font-size: 2.4rem;
    }

    .social {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 5%;
        right: 5%;
    }
    
    .social img {
        width: 1.5rem;
        height: 1.5rem;
        margin: .5rem;
    }

    #copyright {
        color: #000;
        position: fixed;
        bottom: 5%;
        left: 20%;
        animation: lighten 3000ms 8000ms ease-in forwards;
        z-index: 300;
    }

    footer {
        display: none;
    }

    #sun {
        height: 40rem;
        top: 30%;
        left: 30%;
        animation: sunset 8000ms 3000ms ease-in forwards;
    }

    #moon {
        height: 9rem;
        top: 5%;
    }

    #stars {
        height: 9rem;
    }
}

@keyframes night {
    0% {background-position: bottom;}
    100% {background-position: top;}
}

@keyframes lighten {
    0% {color: #000;}
    100% {color: #caedfc;}
}

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes sunset {
    0% {
        top: 30%;
        left: 30%;
        opacity: 1;
    }
    100%{
        top: 100%;
        left: 70%;
        opacity: 0;
    }
}

@keyframes moonrise {
    0% {
        top: 90%;
        right: 5%;
        opacity: 0;
    }
    100% {
        top: 23%;
        right: 5%;
        opacity: 1;
    }
}