.loading,
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
}

.loading {
  height: 80%;
  /* height: 280px; */
  position: fixed;
  left: calc(50% - 7.5rem);
  right: calc(50% - 7.5rem);
  transition: opacity .3s;
  z-index: 1000;
  animation: fadeout .25s 2.5s ease-in forwards;
}

.circle {
  background: #F94E6D;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin: .5rem;
}

.circle:nth-child(1) {
  /* opacity: .5; */
  background: #FDCAD3;
  animation: fadeinout .6s ease-in-out 5 both;
}

.circle:nth-child(2) {
  /* opacity: .5; */
  background: #FDCAD3;
  animation: fadeinout .6s .15s ease-in-out 5 both;
}

.circle:nth-child(3) {
  /* opacity: .5; */
  background: #FDCAD3;
  animation: fadeinout .6s .3s ease-in-out 5 both;
}

@keyframes fadeinout {
  20% {
    background: #F94E6D;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    z-index: -1000;
  }
}