.loading,
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  position: fixed;
  top: calc(50% - 2.5rem);
  bottom: calc(50% - 2.5rem);
  left: calc(50% - 7.5rem);
  right: calc(50% - 7.5rem);
  z-index: 1000;
  animation: fadeout .25s 2.5s ease-in forwards;
}

.circle {
  margin: .5rem;
  background: #fff;
}

.circle::after {
  content: '';
  background: #F94E6D;
  opacity: .5;
  animation: fadeinout .6s ease-in-out 5 both;
}

.circle,
.circle::after {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.circle:nth-child(2)::after {
  animation-delay: .15s;
}

.circle:nth-child(3)::after {
  animation-delay: .3s;
}

@keyframes fadeinout {
  20% {
    opacity: 1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    z-index: -1000;
  }
}